
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}
::-webkit-scrollbar {
  width: 5px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: white; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #22009b; 
  border-radius: 10px;
}
